:root {
  --header-height-px: 60px;
  --header-color: #f2f3f4;
  --h-color: #4d4d4d;
  --button-main-color: #1b0056;
  --button-main-text-color: white;
}

* {
  font-family: Euclid, Roboto, Helvetica, Arial, sans-serif;
}

body {
  background: #fff;
  border: 0;
  margin: 0 !important;
  padding: 0 !important;
  width: 357px; 
  height: 600px;
  overflow: hidden;
  color: #6a737d;
}

h1, h2, h3, h4, h5 {
  color: var(--h-color);
  margin-bottom: 0px;
}

a {
  color: var(--button-main-color);
}

a:hover {
  color: var(--button-main-color);
  opacity: 0.7;
  text-decoration: none;
}


.button-primary {
  background-color: var(--button-main-color);
  color: var(--button-main-text-color);
  margin-top: 20px;
  height: 60px;
  font-weight: 400;
  box-shadow: none;
  border-radius: 4px;
  border: none;
}

.button-primary.disabled {
  pointer-events: none;
  opacity: 0.9;
  background-color: grey;
  cursor: not-allowed !important;
}

.button-primary:hover {
  cursor: pointer;
}

input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
  border-bottom: 1px solid black;
  
}

.error {
  color: tomato;
}

input:focus {
  outline: none;
}

.hoverable {
  cursor: pointer;
}

.hoverable:hover {
  opacity: 0.8;
}

button[disabled], 
input[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}


.alert-bitfi {
  color: #3a3838;
  background-color: #e4c990;
  border-color: #ad9a6b;
}
